[flake8]
ignore =
  # line too long, defer to black
  E501

  # allow line breaks before binary ops
  W503

  # allow line breaks after binary ops
  W504

  # allow whitespace before ':' (https://github.com/psf/black#slices)
  E203

exclude =
  .bzr
  .git
  .hg
  .svn
  .tox
  CVS
  .venv*/
  venv*/
  */samples/*
  target
  __pycache__
  */build/lib/*
  azure-monitor-opentelemetry/azure/monitor/opentelemetry/_vendor/*
